ios
.env
dist/
*.p8
*.jks
*.key
*.p12
.expo/
*.pem
*.orig.*
android
.DS_Store
web-build/
.env*.local
yarn-error.*
*.tsbuildinfo
npm-debug.*
app-example
yarn-debug.*
expo-env.d.ts
node_modules/
/scripts/Themes
*.mobileprovision
/scripts/Generated
.metro-health-check*