ios
.env
dist/
*.p8
*.jks
*.key
*.p12
.expo/
*.pem
*.orig.*
android
.DS_Store
web-build/
.env*.local
yarn-error.*
/core/assets
*.tsbuildinfo
npm-debug.*
app-example
expo-env.d.ts
/core/python
yarn-debug.*
/core/previous
node_modules/
*.mobileprovision
.metro-health-check*
/core/scripts/Themes
/core/scripts/Generated